---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const blogPosts = await getCollection("blog");
// Sort by date descending (newest first)
const sortedPosts = blogPosts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title="Blog">
  <section>
    <div class="container">
      <div class="posts-grid">
        {
          sortedPosts.map((post) => (
            <article class="post-card">
              <h2 class="post-title">{post.data.title}</h2>

              <p class="post-description">{post.data.description}</p>
              <div class="post-tags">
                {post.data.tags?.map((tag) => (
                  <span class="tag">{tag}</span>
                ))}
              </div>
              <div class="post-bottom-line">
                <a href={`/blog/${post.slug}`} class="read-more">
                  Read more →
                </a>
                <time class="post-date">
                  {post.data.pubDate.toLocaleDateString()}
                </time>
              </div>
            </article>
          ))
        }
      </div>
    </div>
  </section>
</Layout>

<style>
  section {
    width: 100%;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
  }

  .container {
    width: 75%;
    display: flex;
    flex-direction: column;
  }

  .section-title {
    font-size: 2.5rem;
    height: 60px;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 100%;
  }

  .posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }

  .post-card {
    cursor: pointer;
    border: 1px solid #333;
    background: #161616;
    border-radius: 10px;
    padding: 1.5rem 2rem;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .post-card:hover {
    transform: translateY(-5px);
  }

  .post-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
    line-height: 1.2;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  .post-date {
    color: #facc25;
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    display: block;
  }

  .post-description {
    color: #ccc;
    font-size: 1rem;
  }

  .post-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    margin-bottom: 1.5rem;
  }

  .tag {
    padding: 3px 8px;
    background-color: #242424;
    color: #facc25;
    border-radius: 5px;
    font-size: 0.85rem;
  }

  .read-more {
    color: #facc25;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
  }

  .read-more:hover {
    text-decoration: underline;
  }

  .post-bottom-line {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 767px) {
    .container {
      width: 90%;
    }

    .post-card {
      width: 100%;
      height: 100%;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .container {
      width: 90%;
    }

    .post-card {
      width: 45%;
      height: 100%;
    }
  }
</style>
